a{
    text-decoration: none;
    color: rgb(190, 16, 16);
   background-color: aqua;

}

.link{
  color: blue;
}

h1{
  color: red;
background-color: aqua;

}

#title{
  color: blanchedalmond;
}
.style 
{
flex-direction: row;

}
.para{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: brown;
}
.black{
  background-color: cornflowerblue;
}